//线条颜色
$color-line = #ccc
$color-line1 = #e9e9e9
$color-line2 = #666
$color-line3 = #000
$color-line4 = #FF3300

//图标颜色
$color-icon =	#FF0000
$color-icon1 = #fff
$color-icon2 = #FF3300
$color-icon3 = #ccc

//字体颜色
$color-font1 = #fff
$color-font2 = #000
$color-font3 = #CC3333
$color-font4 = #696969
$color-font5 = #1e90ff
$color-font6 = #e9e9e9
$color-font7 = #d6d6d6
$color-font8 = #2c2c2c
$color-font9 = #979897

//背景颜色
$color-bg1=  #e9e9e9
$color-background-home = #CC3333


//夜间模式背景色
$color-night-bg1=#2c2c2c
$color-night-bg2=#212427
$color-night-bg3=#252629
$color-night-bg7=#696969

//夜间图标背景色
$color-night-ico1=#CC3333
//夜间模式线条颜色
$color-night-line1=#4a4a4a
$color-night-line2 = #e9e9e9
//夜间模式字体颜色
$color-night-font1 = #ccc


//字体定义规范
$font-size-large-x = 40px
$font-size-large = 36px
$font-size-medium-x = 32px
$font-size-medium = 28px
$font-size-small-x = 24px
$font-size-small = 20px

//图标定义大小
$icon-size-large-x = 80px
$icon-size-large = 70px
$icon-size-medium-x = 50px
$icon-size-medium = 40px
$icon-size-small-x = 30px
$icon-size-small = 20px


//距顶部距离
$main-margin-top = 80px
