// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

$color-line = #ccc
$color-line1 = #e9e9e9
$color-line1= #e9e9e9
$color-icon =	#FF0000
$color-icon1 = #fff
$color-icon2 = #FF3300
$color-font1 = #fff
$color-font2 = #000
$color-font3 = #CC3333
$color-font4 = #696969
$color-background-home = #CC3333
//字体定义规范
$font-size-small-s = 20px
$font-size-small = 24px
$font-size-medium = 28px
$font-size-medium-x = 32px
$font-size-large = 36px
$font-size-large-x = 40px

$icon-size-large-x = 60px
$icon-size-large = 50px
$icon-size-medium-x=40px
$icon-size-medium=30px
